# If you want to run the lambda code for the local file system you need to:
# 1) Run cp .env.example .env
# 2) Edit .env and set TF_LAMBDA_REMOTE_DOCKER to false
# 3) Edit .env and set TF_LOCAL_LAMBDA_CODE_PATH to the absolute path of the source file
#    On windows it could be a path like /c/code/aws-localstack-terraform-example/hello-lambda

#LAMBDA_REMOTE_DOCKER=false
#LOCAL_LAMBDA_CODE_PATH=/c/code/aws-localstack-terraform-example/hello-lambda